{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>注册</title>
</head>

<body>
    <div style="width: 70%; margin: 0 auto; padding-top: 20em;padding-bottom: 20em;">   
          <div class="ui stackable centered column grid">
            <div class="centered row">
              <div class="six wide column">
                <div style="padding-bottom: 5em; background-color: rgba(245, 245, 245,0.5);" class="ui segment">
                  <form action="/regist/" method="POST" class="ui form">
                    {% csrf_token %}
                    <h3 style="color: red;">{{ msg }}</h3>
                    <div class="field">
                      <label for="username">用户名：</label>
                      <input type="text" name="username" id="">
                    </div>
                    <div class="field">
                      <label for="password">密码：</label>
                      <input type="password" name="password" id="">
                    </div>
                    <div class="field">
                      <label for="password2">重复密码：</label>
                      <input type="password" name="password2" id="">
                    </div>
                    <div class="field">
                      <label for="email">Email：</label>
                      <input type="text" name="email" id="">
                    </div>
                    <input style="float: right;" class="ui inverted green button" type="submit" value="注册">
                  </form>
                </div>  
              </div>
            </div>
          </div>
       
    </div>
</body>

</html>